.produto-container {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "imagem"
    "descricao";
}

/* A partir de 768px */
@media screen and (min-width: 768px) {
  .produto-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "imagem descricao";
    grid-column: 2 / 3;
    column-gap: 10px;
  }
}