.produto-imagem {
  grid-area: imagem;
  height: 60vh;
}

.produto-imagem img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* A partir de 768px */
@media screen and (min-width: 768px) {
  .produto-imagem {
    height: auto;
  }
}