.produto-descricao {
  grid-area: descricao;
  align-self: center;
}

.produto-descricao  {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 6%;
  padding-right: 6%;
}

@media screen and (min-width: 768px) {
  .produto-descricao {
    padding-left: 3%;
    padding-right: 3%;
  }
}