.produto {
  background-color: #F5F5F5;
  display: grid;
  grid-template-columns: 1fr;
}

/* A partir de 768px */
@media screen and (min-width: 768px) {
  .produto {
    padding-top: 4rem;
    padding-bottom: 4rem;
    grid-template-columns: minmax(6%, auto) minmax(200px, 940px) minmax(6%, auto);
  }
}