.form-container {
  /* background-color: lightcoral; */
  max-width: 450px;
  margin: 0 auto;
}

.form-iniciar-sessao {
  /* background-color: lightblue; */
}

.form-iniciar-sessao input,
.form-iniciar-sessao button {
  display: block;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}

.form-iniciar-sessao input {
  padding: .5rem;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #C8C8C8;
}

.form-iniciar-sessao input:focus {
  border-bottom: 2px solid var(--blue);
  outline: none;
}

.form-iniciar-sessao__email {}

.form-iniciar-sessao__senha {}

.form-iniciar-sessao__botao-enviar {
  background-color: var(--blue);
  color: white;
  border: none;
}