* {
  margin: 0rem;
  padding: 0rem;
}

html {
  background-color: var(--azul);

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container__menu {
  display: flex;
  gap: 2rem;
}

.menu__logo {
  display: flex;
  justify-content: center;
  gap: .5rem;
}


.menu__busca {
  display: none;
}

.form__busca {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 50px;
  background-color: var(--cinza-claro);
  padding: .6rem 1.2rem;
}

.form__busca--input {
  border: none;
  background-color: transparent;
}

.form__busca--input::placeholder {
  color: #A2A2A2;
}

.form__busca--input:focus {
  outline: none;
}

.form__busca--botao {
  border: none;
  background-color: transparent;
}

.menu__button--login {
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 1rem 4rem;
}

.menu__busca--mobile--icone {
  display: block;
}

.menu__busca--mobile {
  background: #eee;
  padding: .5rem 0rem;
  /* display: flex; */
  display: none;
  justify-content: space-evenly;
  /* align-items: center; */
}

.menu__busca--mobile--form {
  display: flex;
  align-items: center;
}

.menu__busca--mobile--input {
  border: none;
  padding: .3rem .5rem;
  background: transparent;
  caret-color: #A2A2A2;
  color: #A2A2A2;
}

.menu__busca--mobile--input::placeholder {
  color: #A2A2A2;
  text-align: left;
}

.menu__busca--mobile--input:focus {
  outline: none;
}

.menu__busca--mobile--button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu__busca {
    display: block;
  }

  .menu__busca--mobile--icone {
    display: none;
  }
}
