.produtos {
  /* background: lightblue; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.produtos__categorias {
  /* background: lightcoral; */
  margin-bottom: 2.5rem
}

.produtos__categorias--titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.produtos__categorias--titulo h2 {
  font-family: var(--font-raleway);
  color: #464646;
  font-weight: 700;
  font-size: 22px;
}

.produtos__categorias--titulo a {
  color: #2A7AE4;
  text-decoration: none;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.produtos__categorias--titulo a img {
  width: 1rem;
  vertical-align: middle;
  margin-left: .5rem;
}

.produtos__categorias--grade {
  display: grid;
  grid-template-areas: 
    "caixa caixa";
  gap: .7rem;
}

.produtos__categorias--caixas a, 
.produtos__categorias--caixas p {
  margin-top: .2rem;
  margin-bottom: .3rem;
  color: #464646;
}

.produtos__categorias--caixas p:nth-child(3) {
  font-weight: bold;
  font-size: 1rem;
}

.produtos__categorias--caixas a {
  color: #2A7AE4;
  text-decoration: none;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.produtos__categorias--caixas:nth-last-child(1),
.produtos__categorias--caixas:nth-last-child(2) {
  display: none;
}

.produtos__categorias--caixas img {
  /* justify-self: stretch; */
  width: 100%;
}

/* A partir de 360px */
@media screen and (min-width: 360px) {
  .produtos__categorias--grade {
    grid-template-areas: 
      "caixa caixa"
      "caixa caixa";
  }
}

/* a partir de 480px */
@media screen and (min-width: 480px) {
  .produtos__categorias--grade {
    grid-template-areas: 
      "caixa caixa caixa";
  }

  .produtos__categorias--caixas:nth-last-child(3) {
    display: none;
  }

}

/* a partir de 768px */
@media screen and (min-width: 768px) {
  .produtos__categorias--grade {
    grid-template-areas: 
      "caixa caixa caixa caixa";
  }

  .produtos__categorias--caixas:nth-last-child(3) {
    display: block;
  }
}

/* a partir de 1024px */
@media screen and (min-width: 1024px) {
  .produtos__categorias--grade {
    grid-template-areas: 
      "caixa caixa caixa caixa caixa caixa";
  }

  .produtos__categorias--caixas:nth-last-child(1),
  .produtos__categorias--caixas:nth-last-child(2) {
    display: block;
  }
}