.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu__logo img {
  max-width: 100%;
}

.menu__busca {
  display: none;
}

.form__busca {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 50px;
  background-color: var(--cinza-claro);
  padding: .6rem 1.2rem;
}

.form__busca--input {
  border: none;
  background-color: transparent;
  caret-color: #A2A2A2;
  color: #A2A2A2;
}

.form__busca--input::placeholder {
  color: #A2A2A2;
}

.form__busca--input:focus {
  outline: none;
}

.form__busca--botao {
  border: none;
  background-color: transparent;
}

.menu__button a {
  text-decoration: none;
}

.menu__button--login {
  display: none;
}

.menu__button--login--mobile {
  border: none;
  background-color: transparent;
  display: block;
}

.menu__button--login--mobile img {
  max-width: 100%;
}

.menu__busca--mobile--icone {
  display: block;
  cursor: pointer;
}

.menu__busca--mobile--icone img {
  max-width: 100%;
}

.menu__busca--mobile {
  background: #eee;
  padding: .5rem 0rem;
  display: none;
  justify-content: space-evenly;
}

.menu__busca--mobile--form {
  display: flex;
  align-items: center;
}

.menu__busca--mobile--input {
  border: none;
  padding: .3rem .5rem;
  background: transparent;
  caret-color: #A2A2A2;
  color: #A2A2A2;
}

.menu__busca--mobile--input::placeholder {
  color: #A2A2A2;
  text-align: left;
}

.menu__busca--mobile--input:focus {
  outline: none;
}

.menu__busca--mobile--button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .menu__button--login {
    display: block;
  }

  .menu__button--login--mobile {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu__busca {
    display: block;
  }

  .menu__busca--mobile--icone {
    display: none;
  }
}
