.adicionar-produto {
  background-color: #f5f5f5;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.form-titulo {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.form-adicionar-produto {
  margin-top: 1rem;
}

input[type=file] {
  display: none;
}

input[type=file]::file-selector-button {
  display: none;
}

.form__box-upload {
  max-width: 600px;
  width: 100%;
  height: 152px;
  background-color: #FFF;
  border: 2px dashed #C8C8C8;
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: .5rem;
  padding: 1rem;
}

.form__box-upload img {
  width: 32px;
}

.form__box-upload p {
  text-align: center;
  line-height: 1.3rem;
}

.form__button-upload {
  border: 1px solid #2A7AE4;
  padding: 1rem;
  background-color: #FFF;
  display: none;
}

.form__span-oi {
  display: none;
}

.form-upload-imagem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-inputs-container {
  max-width: 600px;
  margin: 0 auto;
}

.form__nome-produto,
.form_preco-produto,
.form__descricao-produto {
  display: block;
  max-width: 600px;
  width: 100%;

  border: none;
  margin-top: .8rem;
  margin-bottom: .5rem;
  padding: 1rem;
  font-size: 1rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px solid #C8C8C8;
}

.form__nome-produto:focus,
.form_preco-produto:focus,
.form__descricao-produto:focus {
  border-bottom: 2px solid var(--blue);
  outline: none;
}

.form__descricao-produto {
  resize: vertical;
}

.form__botao-adicionar-produto {
  background-color: #2A7AE4;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  border: none;
  color: white;
  font-size: 1rem;
}

.form__botao-adicionar-produto:active {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .form__box-upload {
    width: 282px;
  }

  .form__button-upload {
    display: block;
  }

  .form__span-oi {
    display: block;
  }
}
